body {
    margin: 0;
    font-size: 12px;
    color: black;
}

a {
    margin: 0;
    padding: 0;
    height: 30px;
}

div.LoginHeader {
    height: 70px;
    background-color: #a5d181;
}

div.LoginMessageLine {
    height: 30px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

label.LoginWelcomeLabel {
    float: left;
}

div.LoginLogoutLink {
    float: right;
}

div.LoginMenuLine {
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

div.LoginLoginActionLink {
    float: left;
}

div.LoginRegistrationActionLink {
    float: right;
}

hr.LoginSeperatorLine {
    border: 0;
    margin: 0;
    background: #6d6e6b;
    height: 2px;
}

div.LoginMain {
    background-image: url(../Resources/BG_tile_textil.png);
    margin-top: 19px;
}

label.Label {
    float: left;
    padding-top: 5px;
}

input.Button {
    width: 100px;
    background-image: linear-gradient(#a1d181, #7a9762);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

input.Button:hover {
    background-image: linear-gradient(#5f7f46, #5f7f46);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

input.Button:active {
    background-image: linear-gradient(#7a9762, #a1d181);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

input.Button:disabled {
    background-image: linear-gradient(#a4a4a4, #505050);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

input.TextBox {
    float: right;
    height: 25px;
    width: 130px;
    border-width: 1px;
    border-color: #b3b3b3;
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
}

div.LoginIndex {
    height: 500px;
}

div.LoginIndexWelcome {
    padding-top: 5%;
    text-align: center;
}

div.LoginLogin {
    height: 500px;
    padding-top: 10%;
}

div.LoginLoginPanel {
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: #6d6e6b;
    border-radius: 8px;
    background-color: #ededed;
}

div.LoginLoginArea {
    padding: 20px;
}

label.LoginLoginTitleLabel {
    height: 28px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    display: block;
}

hr.LoginLoginSeperatorLine {
    border: 0;
    height: 2px;
    margin: 0;
    background: #a5d181;
}

form.LoginLoginForm {
    margin-top: 24px;
}

div.LoginLoginEmailContainer {
    padding-bottom: 10px;
    height: 30px;
}

label.LoginLoginEmailLabel {
    
}

input.LoginLoginEmailTextBox {
    
}

div.LoginLoginPasswordContainer {
    padding-bottom: 50px;
    height: 30px;
}

label.LoginLoginPasswordLabel {
    
}

input.LoginLoginPasswordTextBox {
    
}

div.LoginLoginButtonsContainer {
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

input.LoginLoginLoginButton {
    float: left;
}

input.LoginLoginResetButton {
    float: right;
}

div.LoginLoginBackLink {
    padding-top: 10%;
}

div.LoginRegistration {
    height: 500px;
    padding-top: 6%;
}

div.LoginRegistrationPanel {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: #6d6e6b;
    border-radius: 8px;
    background-color: #ededed;
}

div.LoginRegistrationArea {
    padding: 20px;
}

label.LoginRegistrationTitleLabel {
    height: 28px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    display: block;
}

hr.LoginRegistrationSeperatorLine {
    border: 0;
    height: 2px;
    margin: 0;
    background: #a5d181;
}

form.LoginRegistrationForm {
    margin-top: 24px;
}

div.LoginRegistrationNameContainer {
    padding-bottom: 10px;
    height: 30px;
}

label.LoginRegistrationNameLabel {

}

input.LoginRegistrationNameTextBox {

}

div.LoginRegistrationEmailContainer {
    padding-bottom: 10px;
    height: 30px;
}

label.LoginRegistrationEmailLabel {

}

input.LoginRegistrationEmailTextBox {

}

div.LoginRegistrationPasswordContainer {
    padding-bottom: 10px;
    height: 30px;
}

label.LoginRegistrationPasswordLabel {

}

input.LoginRegistrationPasswordTextBox {

}

div.LoginRegistrationPasswordAgainContainer {
    padding-bottom: 90px;
    height: 30px;
}

label.LoginRegistrationPasswordAgainLabel {

}

input.LoginRegistrationPasswordAgainTextBox {

}

div.LoginRegistrationButtonsContainer {
    height: 30px;
}

input.LoginRegistrationRegisterButton {
    float: left;
}

input.LoginRegistrationResetButton {
    float: right;
}

div.LoginRegistrationBackLink {
    padding-top: 5%;
}

div.LoginLoggedIn {
    height: 500px;
    padding-top: 5%;
}

div.LoginLoggedInWelcome {
    padding-bottom: 5%;
}

div.LoginLoggedInUsersLink {

}

div.LoginUsers {
    padding-top: 5%;
}

div.LoginUsersPanel {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: #6d6e6b;
    border-radius: 8px;
    background-color: #ededed;
}

div.LoginUsersArea {
    padding: 20px;
}

table.LoginUsersTable {
    height: 100%;
    width: 100%;
    border: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}

tr.LoginUsersTableRow1 {
    font-weight: bold;
    color: white;
    background-color: #6d6e6b;
    text-align: center;
}

tr.LoginUsersTableRow2 {
    font-weight: bold;
    background-color: #a5d181;
}

tr.LoginUsersTableContent {
    background-color: white;
}

div.LoginUsersBackLink {
    padding-top: 10%;
}

div.LoginUsersSpace {
    height: 40px;
}

div.LoginFooter {
    height: 30px;
    background-color: #6d6e6b;
    color: white;
}

div.LoginCredits {
    padding-top: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

div.LoginName {
    float: left;
    font-weight: bold;
}

div.LoginEmail {
    float: right;
    font-weight: bold;
}
